@model RegisterVM
<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-6 m-auto">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Create an Account</h3>
                                </div>
                                <form method="post">
                                    <div class="form-group">
                                        <input asp-for="FullName" placeholder="Fullname" />
                                        <span class="text-danger text-sm" asp-validation-for="FullName"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="UserName" placeholder="Username" />
                                        <span class="text-danger text-sm" asp-validation-for="UserName"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Email" placeholder="Email" />
                                        <span class="text-danger text-sm" asp-validation-for="Email"></span>
                                    </div>
                                    <div class="form-group">
                                         <input asp-for="Password" placeholder="Password" />
                                        <span class="text-danger text-sm" asp-validation-for="Password"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
                                        <span class="text-danger text-sm" asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

									<div class="form-group"> 
                                        <a class="text-muted" asp-action="Login">Do you have account?</a>
                                        </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="">
                                                <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                            </div>
                                        </div>
                                     </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Submit &amp; Register</button>
                                    </div>
                                </form>
                                <div class="divider-text-center mt-15 mb-15">
                                    <span> or</span>
                                </div>
                                <ul class="btn-login list_none text-center mb-15">
                                    <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li>
                                    <li><a href="#" class="btn btn-google hover-up">Login With Google</a></li>
                                </ul>
                                <div class="text-muted text-center">Already have an account? <a href="#">Sign in now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>